h1{
    font-family: Arial;
    font-size: 30px; 
    font-style: italic;
    font-weight: bold;
    color: rgb(245, 7, 7);
    text-align: center;
    text-decoration: underline;
}

input[type=text], input[type=email], input[type=number], input[type=select], input[type=date],input[type=select],input[type=password], input[type=tel]
{
    width: 75%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    
}

input[type=radio],input[type=checkbox]{
    width: 1%;
    padding-left: 0%;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    
}

textarea{
    width:40%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}

label{
    padding:  12px 12px 12px 0;
    display: inline-block; 
}


input[type=submit] {
    background-color: rgba(226, 14, 14, 0.473);
    color: hwb(173 95% 1%);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: centre;
}

input[type=submit]:hover {
background-color: rgba(231, 253, 27, 0.87);
}

.container{
    border-radius: 5px;
    background-color:#f2f2f2;
    padding: 20px;
}

.col-1{
    float: left;
    width:10%;
    margin-top: 6px;
}
.col-2{
    float: left;
    width: 90%;
    margin-top: 6px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
